openapi: 3.0.3
info:
  title: Yana Labs Booking API
  description: |
    API for handling patient bookings and appointments for Yana Labs.
    This microservice handles the creation of new patient bookings and stores them in the admin database.
  version: 1.0.0
  contact:
    name: Yana Labs
    email: support@yanalabs.com

servers:
  - url: https://api.yanalabs.com
    description: Production server
  - url: http://localhost:8080
    description: Development server

paths:
  /api/bookings/create:
    post:
      summary: Create a new patient booking
      description: |
        Creates a new patient booking and stores it in the admin database.
        This endpoint handles both new and existing patients, with different validation rules for each.
      operationId: createPatientBooking
      tags:
        - Bookings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBookingRequest'
      responses:
        '201':
          description: Booking created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateBookingResponse'
        '400':
          description: Invalid input data or validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Time slot already booked
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/bookings/slots/{date}:
    get:
      summary: Get booked slots for a specific date
      description: |
        Retrieves all booked time slots for a specific date.
        Used to check availability before creating new bookings.
      operationId: getBookedSlots
      tags:
        - Bookings
      parameters:
        - name: date
          in: path
          required: true
          description: Date in YYYY-MM-DD format
          schema:
            type: string
            pattern: '^\d{4}-\d{2}-\d{2}$'
            example: "2024-01-15"
      responses:
        '200':
          description: Booked slots retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookedSlotsResponse'
        '400':
          description: Invalid date format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  schemas:
    CreateBookingRequest:
      type: object
      description: |
        Request to create a new patient booking.
        For new patients, all personal information fields are required.
        For existing patients, only phone number and scan selections are required.
      required:
        - patientType
        - phoneNumber
        - selectedScans
        - selectedDate
        - selectedTime
      properties:
        patientType:
          type: string
          description: Type of patient - new or existing
          enum: [new, existing]
          example: "new"
        patientName:
          type: string
          description: Patient's full name (required for new patients)
          minLength: 1
          maxLength: 255
          example: "John Doe"
        age:
          type: string
          description: Patient's age (required for new patients)
          pattern: '^\d+$'
          example: "30"
        phoneNumber:
          type: string
          description: Patient's phone number
          minLength: 10
          maxLength: 15
          pattern: '^[\+]?[0-9\s\-\(\)]+$'
          example: "+1234567890"
        emailAddress:
          type: string
          description: Patient's email address (required for new patients)
          format: email
          maxLength: 255
          example: "john.doe@example.com"
        gender:
          type: string
          description: Patient's gender (required for new patients)
          enum: [male, female, other]
          example: "male"
        howDidYouHear:
          type: string
          description: How the patient heard about the service
          maxLength: 255
          example: "Social Media"
        couponCode:
          type: string
          description: Coupon code if applicable
          maxLength: 50
          example: "WELCOME10"
        referrer:
          type: string
          description: Referrer information if applicable
          maxLength: 255
          example: "Dr. Smith"
        selectedScans:
          type: array
          description: List of selected scans/tests
          items:
            type: string
          minItems: 1
          example: ["Chest X-ray", "Abdomen Ultrasound"]
        selectedDate:
          type: string
          description: Selected appointment date in YYYY-MM-DD format
          pattern: '^\d{4}-\d{2}-\d{2}$'
          example: "2024-01-15"
        selectedTime:
          type: string
          description: Selected appointment time in HH:MM format
          pattern: '^([01]?[0-9]|2[0-3]):[0-5][0-9]$'
          example: "10:30"

    CreateBookingResponse:
      type: object
      description: Response when booking is created successfully
      properties:
        success:
          type: boolean
          description: Whether the operation was successful
          example: true
        message:
          type: string
          description: Success message
          example: "Thank you for booking your appointment! Looking forward to see you."
        bookingId:
          type: string
          description: Unique identifier for the created booking
          example: "booking_123456789"
        booking:
          $ref: '#/components/schemas/Booking'

    BookedSlotsResponse:
      type: object
      description: Response containing booked slots for a specific date
      properties:
        success:
          type: boolean
          description: Whether the operation was successful
          example: true
        bookedSlots:
          type: array
          description: List of booked time slots
          items:
            type: string
            pattern: '^([01]?[0-9]|2[0-3]):[0-5][0-9]$'
          example: ["09:00", "10:30", "14:15"]
        message:
          type: string
          description: Additional message if any
          example: "Retrieved 3 booked slots"

    Booking:
      type: object
      description: Complete booking information
      properties:
        id:
          type: string
          description: Unique identifier for the booking
          example: "booking_123456789"
        created_at:
          type: string
          format: date-time
          description: Timestamp when the booking was created
          example: "2024-01-15T10:30:00Z"
        patient_type:
          type: string
          description: Type of patient
          enum: [new, existing]
          example: "new"
        patient_name:
          type: string
          nullable: true
          description: Patient's full name
          example: "John Doe"
        age:
          type: string
          nullable: true
          description: Patient's age
          example: "30"
        phone_number:
          type: string
          description: Patient's phone number
          example: "+1234567890"
        email_address:
          type: string
          nullable: true
          description: Patient's email address
          example: "john.doe@example.com"
        gender:
          type: string
          nullable: true
          description: Patient's gender
          example: "male"
        how_did_you_hear:
          type: string
          nullable: true
          description: How the patient heard about the service
          example: "Social Media"
        coupon_code:
          type: string
          nullable: true
          description: Coupon code used
          example: "WELCOME10"
        referrer:
          type: string
          nullable: true
          description: Referrer information
          example: "Dr. Smith"
        selected_scans:
          type: array
          description: List of selected scans/tests
          items:
            type: string
          example: ["Chest X-ray", "Abdomen Ultrasound"]
        selected_date:
          type: string
          description: Selected appointment date
          example: "2024-01-15"
        selected_time:
          type: string
          description: Selected appointment time
          example: "10:30"

    ErrorResponse:
      type: object
      description: Standard error response
      properties:
        success:
          type: boolean
          description: Whether the operation was successful
          example: false
        message:
          type: string
          description: Error message
          example: "This time slot has already been booked. Please select a different time."
        error:
          type: string
          description: Error code or type
          example: "VALIDATION_ERROR"
        details:
          type: object
          description: Additional error details
          additionalProperties: true

  securitySchemes:
    http-bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token for authentication

security:
  - http-bearer: []
